.App {
	margin: 0 auto;
	max-height: 95%;
}
.alignCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading {
	width: 100px;
	height: 100px;
	background: url('./img/Infinity-1s-100px.svg') no-repeat center;
	background-size: 75px 75px;
	background-color: transparent;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	transform: translate(-50%, -50%);
}

.contentWrapper {
	z-index: 5px;
}

.search {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	top: 30px;
	transition: top 0s ease-out, opacity 0.2s ease-out, visibility 0.2s ease-out;
	left: 50%;
	transform: translate(-50%);
	z-index: 10;
	position: absolute;
}
.searchTop {
	top: 30px;
	left: 50%;
}
.searchMarginTop {
	top: 40%;
	left: 50%;
	transition: top 0.3s ease-out;
	transform: translate(-50%, -50%);
}

.searchCenter {
	top: 45%;
	left: 50%;
	transition: top 0.3s ease-out;
	transform: translate(-50%, -50%);
}

.showSearch {
	visibility: visible;
	opacity: 1;
}

.notShowSearch {
	visibility: hidden;
	opacity: 0;
}

.css-108g1cb .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
	outline: none;
	border: none;
	font-size: 16px;
	height: 10px;
	text-align: center;
	transition: height 0.3s ease, width 0.3s ease, box-shadow 0.3s ease;
}
.css-108g1cb .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input + fieldset {
	border: 0;
}
.css-108g1cb .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:hover {
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}
.css-108g1cb .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:focus {
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
	width: 420px;
}
.viewBtn {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80px;
	top: 100px;
	left: 1.3%;
}
.surface {
	display: flex;
	padding-top: 5%;
	justify-content: center;
	transition: padding 0.3s ease-in-out;
}

.surfaceMarginTop {
	padding-top: 6.5%;
}

.sitebar {
	width: 555px;
	margin-right: 30px;
	min-height: 695px;
	position: relative;
	box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.2);

	animation: animation 0.1s ease-in;
}

.content {
	width: 655px;
	display: flex;
	justify-content: center;
	max-height: 695px;
	position: relative;
	animation: animation 0.1s ease-in;
}
@keyframes animation {
	0% {
		opacity: 0;
		transform: scale(0.95);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 30px;
	width: 100%;
	z-index: 10;
	background: inherit;
}

.css-1s2u09g-control,
.css-1pahdxg-control {
	transition: none;
	height: 46px;
}

.css-1s2u09g-control:hover {
	border-color: rgba(0, 0, 0, 0.87) !important;
}

.displayNone {
	display: none;
}

.contentWidth,
.sitebarWidth {
	margin: 0;
	max-width: 800px;
	min-height: 695px;
	min-width: 800px;
	position: relative;
	top: 0;
	animation: showBlock 0.1s ease-in;
}

@keyframes showBlock {
	0% {
		opacity: 0;

		transform: scale(0.95);
	}
	100% {
		opacity: 1;

		transform: scale(1);
	}
}

#root > div > div:nth-child(2) > div.contentWrapper > div:nth-child(1) > div > div.sitebar.contentWidth > div > div > form > div.Resume_expSalContainer__1W8pN > div.Resume_experienceContainer__OEN54 {
	margin-right: 100px;
}

.welcome {
	height: 100%;
	width: 100%;
	background: rgb(113, 130, 226);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	transition: top 0.5s ease-out;
}

.welcomeBtn {
	position: absolute;
	top: 45%;
	left: 50%;
	color: white;
	transform: translate(-50%, -50%);
	cursor: pointer;
	user-select: none;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1.2s ease;
}

.welcomeBtnBlinking {
	visibility: visible;
	opacity: 1;
	animation: blinking 1.2s infinite ease;
}

@keyframes blinking {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.welcome > h1,
.welcomeAway > h1 {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.startPhrase {
	position: absolute;
	top: 38%;
	left: 50%;
	width: 1000px;
	transform: translate(-50%, -50%);
}

.startPhrase > h1,
.startPhrase > h1,
.secondWord {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	color: white;
	text-align: center;
	font-weight: 900;
	user-select: none;
}

.typed-cursor.typed-cursor--blink,
.typed-cursor {
	color: white !important;

	font-size: 40px !important;
}

.typed-fade-out {
	content: '|';
}

.welcomeAway {
	top: -100%;
}

.welcomeAway > span {
	font-size: 0;
}
.animatedBorder {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: -1;
	background: rgb(193, 206, 226);
}
.animatedBorder::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
}
.animatedBorder::after {
	content: '';
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, rgb(111, 161, 236), rgb(193, 206, 226));
	background-size: 2000% 2000%;
	background-repeat: no-repeat;
	animation: gradientAfter 10s ease infinite;
	position: absolute;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

@keyframes gradientAfter {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
.previewMessage {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.my-node-enter {
	opacity: 0;
}
.my-node-enter-active {
	opacity: 1;
	transition: opacity 200ms;
}
.my-node-exit {
	opacity: 1;
}
.my-node-exit-active {
	opacity: 0;
	transition: opacity 200ms;
}
