html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	background: lavender;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	color: rgba(0, 0, 0, 0.8);
}

h1 {
	font-size: 22px;
}

#root {
	height: 100%;
}

input[type='text'],
input[type='password'],
input[type='select'],
input[type='number'],
*[role='button'],
.Role_name__3j6hS,
textarea,
span:not(.MuiCheckbox-root, .MuiButton-startIcon, .secondWord, .welcomeBtn),
.MuiOutlinedInput-root,
#experience,
.css-319lph-ValueContainer,
#outlined-textarea,
label.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;
	color: hsl(0, 0%, 20%);
}

legend.css-1z7n62 {
	font-size: 1rem;
}

legend.css-1z7n62 > span {
	font-size: 0.75em;
}

#salary-label,
#experience-label,
#title-label,
#outlined-textarea-label {
	z-index: 0;
}

.css-fvqpkw-MuiFormControl-root-MuiTextField-root input {
	background: lavender !important;
}
.css-1s2u09g-control,
.css-1pahdxg-control {
	background: inherit !important;
	border-color: rgba(0, 0, 0, 0.2) !important;
}
.css-1okebmr-indicatorSeparator {
	background-color: rgba(0, 0, 0, 0.2) !important;
	width: 0 !important;
}
.css-1xh8qep-loadingIndicator > * {
	font-size: 5px !important;
}
