.container {
	position: sticky;
	top: 175px;
}

.form {
	display: flex;
	flex-direction: column;
}

.options {
}

.btnsModalInside {
	position: absolute;
	bottom: 13px;
	right: 35px;
}
.btnModalSubmit {
	border: 1px solid rgba(24, 118, 211, 0.7);
	color: #166abe;
	font-size: 14px;
	border-radius: 2px;
}
