.container {
	border: 1px solid rgba(0, 0, 0, 0.23);
	display: flex;
	margin: 3px;
	padding-left: 10px;
	border-radius: 4px;
}

.name {
	font-size: 14px;
	display: flex;
	align-items: center;
	line-height: 10px;
	padding-right: 10px;
	border-right: 1px solid rgba(0, 0, 0, 0.23);
}

.deleteIcon:hover {
	color: #1976d2;
	padding: 0;
}
